.about-img{
    max-width: 100%;
    height: auto;
}
.about-text{
    padding: 20px;
}
.about-appointment{
    width:100%;
    background-color: grey;
    color: #0a0a0a;
    text-decoration:none;
   
}
a, .app-p{
  
    text-decoration: none ;
    color: #f5f1f1;
}
@media only screen and (max-width: 768px) {
    .about-img{
        width: 95%;
        height: auto;
    }
    .about-content{
        display: block;
    }
    .no-display-p{
        display: none;
    }
}
@media only screen and (max-width: 425px) {
     .about-text{
        padding: 0;
     }
     .about-img{
        width: 100%;
    }
}