rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /styles/{document=**} {
      //allow read
      allow read;
    }
  }
}