.jumbo{
    margin-top:80px;
    
}
.jumbotron{
    margin-top:90px;
    background: linear-gradient(to bottom, #fff, #ed44c0) ;
}
.title-name{
    font-style: italic;
}

.card-img-top{
    height:230px;
    width:80%;
}
.subscribe-form{
    color:#ed44c0;
}
.form-group {
   width:16%;
}
@media only screen and (max-width: 425px) {
   
    .form-control{
        width:100%;
    }
  }
@media only screen and (max-width: 768px) {
    .card-img-top{
       height:320px;
    }
    .subscribe-form{
        width:100%;
    }
    .form-group{
        width:65%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .form-group{
        width:35%;
        text-align:center
    }
  }